@media screen and (max-width:500px) {
    #submit-btn{
        width: 28%;
    }
    input::placeholder{
        font-size: 9px;
    }
    #sub{
        padding-top: 5px;
        font-size: 16px;
    }
    #input-sub{
        width: 60px;
    }
    #label1{
        padding-top: 6px;
        font-weight: bold;
        font-size: 15px;
    }
    #logo{
        width: 75px;
    }
    #col-name{
        font-size: 23px;
        padding: 0;
    }
    #col-addr{
        font-size: 16px;
        padding: 0px;
    }
}
#sub{
    padding-top: 5px;
}
#label1{
    font-weight: bold;
}
#head{
    font-weight: bolder;
}